$color--cyan--primary: hsl(179, 62%, 43%);
$color--yellow--primary: hsl(71, 73%, 54%);
$color--cyanDark--primary: rgb(74,190,189);


$color--gray: hsl(204, 43%, 93%);
$color--blue--grayish: hsl(218, 22%, 67%);